/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Public Sans', sans-serif;
}

html {
    overflow-x: hidden;
}

.hide {
    display: none; 
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(90deg, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
    width: 128.38px;
}

p {
    color: hsl(233, 8%, 62%);
    line-height: 25px;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

a {
    color: hsl(233, 8%, 62%);
    padding: 10px 5px;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    z-index: 2;
}

header ul {
    display: flex;
    gap: 1rem; 
}

/* First section */
#presentation {
    display: flex;
    background-color: hsl(0, 0%, 98%);
    height: 590px;
}

#left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 70px;
}

h1 {
    font-size: 50px;
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    max-width: 410px;
}

#left p {
    max-width: 410px;
}

#right {
    flex: 1;
}

#img-bg {
    position: absolute;
    width: 70vw;
    top: -130px;
    right: -20vw;
}

#img-content {
    position: absolute;
    width: 48vw;
    top: -40px;
    right: -110px;
}

/* Section 2 */
#why-choose-us {
    padding: 100px 80px;
    background-color: hsl(220, 16%, 96%);
}

#why-choose-us > p {
    max-width: 600px;
}

#cards {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#cards div {
    max-width: 232px;
}

#cards img {
    width: 60px;
}

#cards h3 {
    font-size: 22px;
    font-weight: 400;
    margin: 30px 0 20px;
}

#cards p {
    font-size: 14px;
}

/* Section 3 */
#latest-articles {
    background-color: hsl(0, 0%, 98%);
    padding: 100px 80px;
}

#articles {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

article img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

article {
    background-color: hsl(0, 0%, 100%);
    width: 270px;
    border-radius: 0 0 5px 5px;
}

.article-texts {
    padding: 20px;
}

.by {
    font-size: 12px;
    margin: 8px 0;
}

article h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}

.text {
    font-size: 14px;
    line-height: 20px;
}

/* footer */
footer {
    background-color: hsl(233, 26%, 24%);
    padding: 50px 20px 20px;
}

#footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-footer {
    background-color: white;
    margin-bottom: 40px;
}

#redes img {
    margin-right: 8px;
}

footer nav {
    display: flex;
    gap: 100px;
    flex: .6;
}

footer nav li {
    margin-bottom: 15px;
    font-size: 14px;
}

#button-copy {
    text-align: right;
}

footer button {
    margin-bottom: 30px;
}

.attribution { 
    color: #fff;
    font-size: 14px; 
    text-align: center; 
    margin-top: 30px;
}

.attribution a {
    color: hsl(136, 65%, 51%);
}

@keyframes fromTop {
    0% {
        top: -300px;
    }
    100% {
        top: 100px;
    }
}

@media screen and (max-width: 750px) {
    header {
        justify-content: space-between;
        padding: 20px;
        height: 76px;
    }
    #btn-mobile {
        display: block;
        background: none;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    #nav {
        display: none;
    }
    #nav.active {
        display: block;
        position: absolute;
        top: 100px;
        background-color: #fff;
        text-align: center;
        right: 20px;
        left: 20px;
        padding: 30px 10px;
        animation: fromTop .5s .2s backwards;
    }
    #nav.active ul {
        flex-direction: column;
        width: 100%;
    }
    #nav.active a {
        color: hsl(233, 26%, 24%);
        font-size: 18px;
        padding: 10px 100px;
    }
    #btn-header {
        display: none;
    } 
}